#chart {
    text-align: center;
    position: relative;
}

#chart canvas {
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: -1;
}

#chart svg{
    z-index: 2;
    cursor: default;
}
.node-hovered {
    fill: none;
    stroke-width: 3px;
    stroke-opacity: 0.75;
    stroke-dasharray: 0,5;

    animation-duration: 1s;
    animation-name: changedash;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes changedash {
    from { stroke-dashoffset: 5px; }
    to { stroke-dashoffset: 0px; }
}

#chart-tooltip {
    pointer-events: none;
    z-index: 4;
    font-size: 14px;
    background: rgba(255,255,255,0.93);
    padding: 10px 30px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px #c1c1c1;
    font-family: 'Oswald', sans-serif;
    max-width: 600px;
}

#chart-tooltip .tooltip-title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

#chart-tooltip .tooltip-type {
    text-align: center;
    font-size: 12px;
    color: #696969;
    font-weight: 300;
}

button:focus {
    outline: 0;
}